@{
    ViewBag.Title = "Dashboard";
}
@Html.Partial("_NavPartial")
<div id="main" class="col-sm-9">
    <h2>@ViewBag.Title</h2>
    <div class="board">
        <h3>Welcome! Admin</h3>

        <p>
            Hello and welcome to the <strong>XYZ School Network</strong>, you have been registered with an Admin account.
            This gives you authorization to Manage Students and other Admin user accounts. <br />

            In the <a href="@Url.Action("Index","Student")">Students</a> section, you can <a href="@Url.Action("Register","Account")">
                Register
            </a> new students, view list registerd students, view details about a student, and delete student account.
        </p>
        <p>
            In the <a href="@Url.Action("Index","Tests")">Test</a> section you can manage tests and view student
            test scores<br />
            In the <a href="@Url.Action("Index","Manage")">Account</a> section you can change your password
            and upload a profile photo.
        </p>
        <p>
            And your welcome to try out our <strong>messanger</strong> app. You can use it to commmunicate
            with your colleagues in realtime. Just click on it in the lower right corner.
        </p>


    </div>
</div>
