@model IEnumerable<WebApp.Models.Student>

@{
    ViewBag.Title = "Students";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

@Html.Partial("_NavPartial")
<div id="main" class="col-sm-9">
    <h2>@ViewBag.Title</h2>
    <div class="view-head clearfix">
        <span class="pull-right">
            <a href="@Url.Action("Register", "Account")" class="button">
                <i class="fa fa-user-plus"></i>Add New
            </a>
        </span>
    </div>

    @grid.GetHtml(
    tableStyle: "table table-bordered grid-table",
    headerStyle: "",
    footerStyle: "",
    alternatingRowStyle: "table-row-alt",
    rowStyle: "",
    columns: grid.Columns(
                grid.Column(columnName: "StudentId", header: "ID"),
                grid.Column(columnName: "User.Name", header: "Name"),
                grid.Column(columnName: "User.Sex", header: "Sex"),
                grid.Column(columnName: "User.Email", header: "Email"),
                grid.Column(header: "Actions", format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })</text>)
                                                                                            )
                                                                                        )

</div>
