@model WebApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@Html.Partial("_NavPartial")

<div id="main" class="col-sm-9">
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row input-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-3 field-label" })
        <div class="col-sm-7 col-xs-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "field" })
        </div>
    </div>
    <div class="row input-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-3 field-label" })
        <div class="col-sm-7 col-xs-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "field" })
        </div>
    </div>
    <div class="row input-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-3 field-label" })
        <div class="col-sm-7 col-xs-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field" })
        </div>
    </div>
    <div class="row input-group">
        <div class="col-xs-offset-3 col-sm-7 col-xs-9">
            <input type="submit" value="Change password" class="button" />
        </div>
    </div>
}

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
