@model WebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Account Settings";
}

@Html.Partial("_NavPartial")

<div id="main" class="col-sm-9">
    <h2>@ViewBag.Title.</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4>Change your account settings</h4>


        <strong>Password:</strong>
        @if(Model.HasPassword) {
            @Html.ActionLink("Change your password", "ChangePassword")
        } else {
            @Html.ActionLink("Create", "SetPassword")
        } <br />
        <strong>Photo: </strong> <a href="@Url.Action("UploadPhoto", "Manage")">Upload Photo</a>


</div>

